node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local

*.sqlite
*.sqlite3
*.db

.DS_Store
Thumbs.db

dist/
build/
.cache/
.tmp/
temp/

.vscode/
.idea/

debug.log

coverage/

.pids
*.pid
*.seed
*.pid.lock

dev-files/
